pdfservices-sdk==4.1.0
numpy==1.26.4
pydantic==2.8.2
mojimoji==0.0.13
opencv-python==4.10.0.84
pillow==10.4.0
pandas===2.2.3
openpyxl==3.1.5
imgsim==0.1.2
torchvision==0.17.2
regex==2024.11.6
PyYAML==6.0.2
-e git+https://github.com/toposoid/toposoid-python-lib.git@__##GIT_BRANCH##__#egg=ToposoidCommon


